@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yan Alves Monteiro</h1>
    <br />
    <p>This is a exercise for the Modus Create company</p>
    <br />
    <br />
    <br />
    <br />

    <p>Made with ♥</p>
</div>
